p {
    padding-left: 5%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-family: sans-serif;
    font-weight: 400;
}

.dynamic__header--color {
    background-color: #CBECF1;
}

.dynamic-icon--links {
    font-size: 22;
    line-height: 22px;
    margin: 10px;
}

.dynamic-icon--linkedin {
    color: #2867B2;
}

.dynamic_icon--twitter {
    color: #1dcaff;
}

.dynamicblog_body--wrapper {
    margin-top: 100px;
    height: 1500px;
    padding: 16px;
}

.dynamicblog_logo--wrapper {
    font-family: 'Menlo', monospace;
    font-weight: 500;
    height: 2.5rem;
    position: absolute;
    right: 125px;
    top: 3px;
}

.dynamicblog_NavBar_Wrapper {
    top: 0;
    position: fixed;
    width: 100%;
}

.dynamicbandic_Project--header{
    color:black;
}

.dynamicbandic_Project--project {
    min-height: 150px;
}

.nav-link {
    color:black;
}

.right {
    float: right;
} 