p {
    padding-left: 5%;
    font-family: 'Open Sans', sans-serif;

}

a {
    color: black;
}

h1 {
    font-family: sans-serif;
    font-weight: 400;
}

.dynamicblog_body--wrapper {
    margin-top: 100px;
    height: 1500px;
    padding: 16px;
}

.dynamicblog_logo--wrapper {
    font-family: 'Menlo', monospace;
    font-weight: 500;
    height: 2.5rem;
    position: absolute;
    right: 125px;
    top: 3px;
}

.dynamicblog_NavBar_Wrapper {
    background-color: #CBECF1;
    top: 0;
    position: fixed;
    width: 100%;
}